# Label each row with features required to run ANN notebooks

The new features are:
* The time left until next bus stop (seconds)
* The time it takes to travel the full segment (seconds)
* The time from the start of the journey to the start of the current segment (seconds)

In [1]:
import numpy as np
import pandas as pds
import datetime as dt
import time

In [2]:
df = pds.read_csv('bus203_all.csv')
df.head()

,Unnamed: 0,timestamp,event,vehicle_id,line,longitude,latitude,direction,speed,station,journey_number,segment_number
0,0,2018-02-16T04:48:40.0000000+01:00,JourneyStartedEvent,5432,203,58.414238,15.571015,-1.000000,-1.00,NaN,1,1
1,1,2018-02-16T04:48:40.0000000+01:00,ObservedPositionEvent,5432,0,58.414238,15.571015,147.300003,0.00,NaN,1,1
2,2,2018-02-16T04:48:40.0000000+01:00,ArrivedEvent,5432,203,58.414238,15.571015,-1.000000,-1.00,Rydsv\xe4gens \xe4ndh\xe5llpl.,1,1
3,3,2018-02-16T04:48:41.0000000+01:00,ObservedPositionEvent,5432,0,58.414246,15.571012,147.300003,0.00,NaN,1,1
4,4,2018-02-16T04:48:42.0000000+01:00,ObservedPositionEvent,5432,0,58.414249,15.571008,147.300003,0.00,NaN,1,1
5,5,2018-02-16T04:48:43.0000000+01:00,ObservedPositionEvent,5432,0,58.414257,15.571004,147.300003,0.00,NaN,1,1
6,6,2018-02-16T04:48:44.0000000+01:00,ObservedPositionEvent,5432,0,58.414257,15.571006,147.300003,0.00,NaN,1,1
7,7,2018-02-16T04:48:45.0000000+01:00,ObservedPositionEvent,5432,0,58.414261,15.571008,147.300003,0.00,NaN,1,1
8,8,2018-02-16T04:48:46.0000000+01:00,ObservedPositionEvent,5432,0,58.414261,15.571010,147.300003,0.00,NaN,1,1
9,9,2018-02-16T04:48:47.0000000+01:00,ObservedPositionEvent,5432,0,58.414261,15.571012,147.300003,0.00,NaN,1,1
10,10,2018-02-16T04:48:48.0000000+01:00,ObservedPositionEvent,5432,0,58.414265,15.571014,147.300003,0.00,NaN,1,1
11,11,2018-02-16T04:48:49.0000000+01:00,ObservedPositionEvent,5432,0,58.414268,15.571015,147.300003,0.00,NaN,1,1
12,12,2018-02-16T04:48:50.0000000+01:00,ObservedPositionEvent,5432,0,58.414268,15.571015,147.300003,0.00,NaN,1,1
13,13,2018-02-16T04:48:51.0000000+01:00,ObservedPositionEvent,5432,0,58.414268,15.571015,147.300003,0.00,NaN,1,1
14,14,2018-02-16T04:48:52.0000000+01:00,ObservedPositionEvent,5432,0,58.414268,15.571015,147.300003,0.00,NaN,1,1
15,15,2018-02-16T04:48:53.0000000+01:00,ObservedPositionEvent,5432,0,58.414268,15.571014,147.300003,0.00,NaN,1,1
16,16,2018-02-16T04:48:54.0000000+01:00,ObservedPositionEvent,5432,0,58.414268,15.571014,147.300003,0.00,NaN,1,1
17,17,2018-02-16T04:48:54.0000000+01:00,DepartedEvent,5432,203,58.414196,15.571187,-1.000000,-1.00,Rydsv\xe4gens \xe4ndh\xe5llpl.,1,1
18,18,2018-02-16T04:48:55.0000000+01:00,ObservedPositionEvent,5432,0,58.414265,15.571016,147.300003,0.41,NaN,1,1
19,19,2018-02-16T04:48:56.0000000+01:00,ObservedPositionEvent,5432,0,58.414257,15.571025,140.300003,0.77,NaN,1,1
20,20,2018-02-16T04:48:57.0000000+01:00,ObservedPositionEvent,5432,0,58.414249,15.571035,139.889999,0.97,NaN,1,1
21,21,2018-02-16T04:48:58.0000000+01:00,ObservedPositionEvent,5432,0,58.414238,15.571051,136.600006,1.18,NaN,1,1
22,22,2018-02-16T04:48:59.0000000+01:00,ObservedPositionEvent,5432,0,58.414230,15.571072,134.889999,1.49,NaN,1,1
23,23,2018-02-16T04:49:00.0000000+01:00,ObservedPositionEvent,5432,0,58.414215,15.571098,128.199997,1.69,NaN,1,1
24,24,2018-02-16T04:49:01.0000000+01:00,ObservedPositionEvent,5432,0,58.414204,15.571137,118.800003,2.31,NaN,1,1
25,25,2018-02-16T04:49:01.0000000+01:00,ExitedEvent,5432,203,58.414196,15.571187,-1.000000,-1.00,Rydsv\xe4gens \xe4ndh\xe5llpl.,1,1
26,26,2018-02-16T04:49:02.0000000+01:00,ObservedPositionEvent,5432,0,58.414196,15.571187,106.800003,2.57,NaN,1,1
27,27,2018-02-16T04:49:03.0000000+01:00,ObservedPositionEvent,5432,0,58.414196,15.571241,94.000000,2.72,NaN,1,1
28,28,2018-02-16T04:49:04.0000000+01:00,ObservedPositionEvent,5432,0,58.414200,15.571293,80.690002,2.77,NaN,1,1
29,29,2018-02-16T04:49:05.0000000+01:00,ObservedPositionEvent,5432,0,58.414211,15.571343,68.690002,2.77,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
970,288,2018-02-16T05:20:37.0000000+01:00,ObservedPositionEvent,5490,0,58.413147,15.560012,243.600006,0.00,NaN,2,3
971,289,2018-02-16T05:20:38.0000000+01:00,ObservedPositionEvent,5490,0,58.413147,15.560011,243.600006,0.00,NaN,2,3
972,290,2018-02-16T05:20:38.0000000+01:00,DepartedEvent,5490,203,58.413055,15.559770,-1.000000,-1.00,Als\xe4ttersgatan,2,3
973,291,2018-02-16T05:20:39.0000000+01:00,ObservedPositionEvent,5490,0,58.413147,15.560006,242.199997,0.82,NaN,2,3
974,292,2018-02-16T05:20:40.0000000+01:00,ObservedPositionEvent,5490,0,58.413136,15.559980,235.500000,1.64,NaN,2,3
975,293,2018-02-16T05:20:41.0000000+01:00,ObservedPositionEvent,5490,0,58.413124,15.559943,232.199997,2.52,NaN,2,3
976,294,2018-02-16T05:20:42.0000000+01:00,ObservedPositionEvent,5490,0,58.413101,15.559896,230.399994,3.29,NaN,2,3
977,295,2018-02-16T05:20:43.0000000+01:00,ExitedEvent,5490,203,58.413055,15.559770,-1.000000,-1.00,Als\xe4ttersgatan,2,3
978,296,2018-02-16T05:20:43.0000000+01:00,ObservedPositionEvent,5490,0,58.413078,15.559837,232.699997,4.16,NaN,2,3
979,297,2018-02-16T05:20:44.0000000+01:00,ObservedPositionEvent,5490,0,58.413055,15.559770,236.100006,4.62,NaN,2,3
980,298,2018-02-16T05:20:45.0000000+01:00,ObservedPositionEvent,5490,0,58.413025,15.559676,239.300003,5.65,NaN,2,3
981,299,2018-02-16T05:20:46.0000000+01:00,ObservedPositionEvent,5490,0,58.413002,15.559578,241.800003,6.22,NaN,2,3
982,300,2018-02-16T05:20:47.0000000+01:00,ObservedPositionEvent,5490,0,58.412979,15.559474,243.100006,6.84,NaN,2,3
983,301,2018-02-16T05:20:48.0000000+01:00,ObservedPositionEvent,5490,0,58.412945,15.559361,242.699997,7.56,NaN,2,3
984,302,2018-02-16T05:20:49.0000000+01:00,ObservedPositionEvent,5490,0,58.412907,15.559242,240.699997,7.92,NaN,2,3
985,303,2018-02-16T05:20:50.0000000+01:00,ObservedPositionEvent,5490,0,58.412868,15.559112,240.699997,8.23,NaN,2,3
986,304,2018-02-16T05:20:51.0000000+01:00,ObservedPositionEvent,5490,0,58.412827,15.558981,239.199997,8.74,NaN,2,3
987,305,2018-02-16T05:20:52.0000000+01:00,ObservedPositionEvent,5490,0,58.412785,15.558849,237.199997,9.46,NaN,2,3
988,306,2018-02-16T05:20:53.0000000+01:00,ObservedPositionEvent,5490,0,58.412731,15.558702,236.600006,10.13,NaN,2,3
989,307,2018-02-16T05:20:54.0000000+01:00,ObservedPositionEvent,5490,0,58.412678,15.558544,236.300003,10.64,NaN,2,3
990,308,2018-02-16T05:20:55.0000000+01:00,ObservedPositionEvent,5490,0,58.412617,15.558388,234.399994,11.21,NaN,2,3
991,309,2018-02-16T05:20:56.0000000+01:00,ObservedPositionEvent,5490,0,58.412560,15.558235,234.399994,11.06,NaN,2,3
992,310,2018-02-16T05:20:57.0000000+01:00,ObservedPositionEvent,5490,0,58.412498,15.558080,233.000000,11.06,NaN,2,3
993,311,2018-02-16T05:20:58.0000000+01:00,ObservedPositionEvent,5490,0,58.412434,15.557926,231.000000,11.00,NaN,2,3
994,312,2018-02-16T05:20:59.0000000+01:00,ObservedPositionEvent,5490,0,58.412373,15.557781,231.699997,10.75,NaN,2,3
995,313,2018-02-16T05:21:00.0000000+01:00,ObservedPositionEvent,5490,0,58.412312,15.557648,229.500000,10.80,NaN,2,3
996,314,2018-02-16T05:21:01.0000000+01:00,ObservedPositionEvent,5490,0,58.412243,15.557509,228.600006,10.75,NaN,2,3
997,315,2018-02-16T05:21:02.0000000+01:00,ObservedPositionEvent,5490,0,58.412178,15.557370,226.500000,10.59,NaN,2,3
998,316,2018-02-16T05:21:03.0000000+01:00,ObservedPositionEvent,5490,0,58.412109,15.557242,224.000000,10.49,NaN,2,3
999,317,2018-02-16T05:21:04.0000000+01:00,ObservedPositionEvent,5490,0,58.412045,15.557127,221.699997,10.44,NaN,2,3

Ignore entries that are not `ObservedPositionEvent`

In [3]:
df = df[df['event'] == "ObservedPositionEvent"]

This leaves the indexes of rows untouched, reset.

In [4]:
df = df.reset_index().drop(columns=['index'])

Convert `timestamp` to pandas datetime object.

In [5]:
df['timestamp'] = pds.to_datetime(df['timestamp']).dt.tz_localize("UTC").dt.tz_convert("Europe/Stockholm")

A triple loop as it seems, but it is only to finally group rows from each individual segment from every journey. Should be linear in time, as the innermost loop will do all executions and every row is visited once. This only took ~50% of my 8GB of RAM but took ~30 minutes to run.

In [6]:
time_left = pds.DataFrame(np.zeros(len(df.index)), columns=['time_left'])
segment_time = pds.DataFrame(np.zeros(len(df.index)), columns=['segment_time'])
# Time since journey start
tsjs = pds.DataFrame(np.zeros(len(df.index)), columns=['tsjs'])


t0 = time.time()

for j, df_j in df.groupby('journey_number'):
    journey_start = df_j['timestamp'].iloc[0]
    for k, df_s in df_j.groupby('segment_number'):
        end_time = df_s['timestamp'].iloc[-1]
        start_time = df_s['timestamp'].iloc[0]
        for idx, row in df_s.iterrows():
            # The subtraction returns timedelta between the two timestamp objects
            # and total seconds convert the pandas datetime object to seconds
            time_left.iloc[idx] = (end_time - row['timestamp']).total_seconds()
            segment_time.iloc[idx] = (end_time - start_time).total_seconds()
            tsjs.iloc[idx] = (start_time - journey_start).total_seconds()

elapsed = time.time() - t0
print("Data processed in", elapsed, " seconds")

Data processed in 1968.3259329795837  seconds

Add new features to dataframe `df`

In [7]:
data = pds.concat([df, time_left,segment_time, tsjs], axis=1)
data.head()

,Unnamed: 0,timestamp,event,vehicle_id,line,longitude,latitude,direction,speed,station,journey_number,segment_number,time_left,segment_time,tsjs
0,1,2018-02-16 04:48:40+01:00,ObservedPositionEvent,5432,0,58.414238,15.571015,147.300003,0.0,NaN,1,1,71.0,71.0,0.0
1,3,2018-02-16 04:48:41+01:00,ObservedPositionEvent,5432,0,58.414246,15.571012,147.300003,0.0,NaN,1,1,70.0,71.0,0.0
2,4,2018-02-16 04:48:42+01:00,ObservedPositionEvent,5432,0,58.414249,15.571008,147.300003,0.0,NaN,1,1,69.0,71.0,0.0
3,5,2018-02-16 04:48:43+01:00,ObservedPositionEvent,5432,0,58.414257,15.571004,147.300003,0.0,NaN,1,1,68.0,71.0,0.0
4,6,2018-02-16 04:48:44+01:00,ObservedPositionEvent,5432,0,58.414257,15.571006,147.300003,0.0,NaN,1,1,67.0,71.0,0.0

Renaming some columns to keep them similar to the GP model for easier understanding.

In [8]:
data.rename(columns={'longitude': 'lon', 'latitude': 'lat', 'segment_number': 'seg', 'journey_number': 'journey'}, inplace=True)
data.head()

,Unnamed: 0,timestamp,event,vehicle_id,line,lon,lat,direction,speed,station,journey,seg,time_left,segment_time,tsjs
0,1,2018-02-16 04:48:40+01:00,ObservedPositionEvent,5432,0,58.414238,15.571015,147.300003,0.0,NaN,1,1,71.0,71.0,0.0
1,3,2018-02-16 04:48:41+01:00,ObservedPositionEvent,5432,0,58.414246,15.571012,147.300003,0.0,NaN,1,1,70.0,71.0,0.0
2,4,2018-02-16 04:48:42+01:00,ObservedPositionEvent,5432,0,58.414249,15.571008,147.300003,0.0,NaN,1,1,69.0,71.0,0.0
3,5,2018-02-16 04:48:43+01:00,ObservedPositionEvent,5432,0,58.414257,15.571004,147.300003,0.0,NaN,1,1,68.0,71.0,0.0
4,6,2018-02-16 04:48:44+01:00,ObservedPositionEvent,5432,0,58.414257,15.571006,147.300003,0.0,NaN,1,1,67.0,71.0,0.0

... remove unwanted columns ...

In [9]:
data = data.drop(columns=['Unnamed: 0', 'event', 'vehicle_id', 'line', 'station'])
data.head()

,timestamp,lon,lat,direction,speed,journey,seg,time_left,segment_time,tsjs
0,2018-02-16 04:48:40+01:00,58.414238,15.571015,147.300003,0.0,1,1,71.0,71.0,0.0
1,2018-02-16 04:48:41+01:00,58.414246,15.571012,147.300003,0.0,1,1,70.0,71.0,0.0
2,2018-02-16 04:48:42+01:00,58.414249,15.571008,147.300003,0.0,1,1,69.0,71.0,0.0
3,2018-02-16 04:48:43+01:00,58.414257,15.571004,147.300003,0.0,1,1,68.0,71.0,0.0
4,2018-02-16 04:48:44+01:00,58.414257,15.571006,147.300003,0.0,1,1,67.0,71.0,0.0

... and save it.

In [ ]:
data.to_pickle('ANN_dataset.pkl')