# Model creation and data split-up

This notebook will:
* Split data ito test and train data
* Train the model
* Save the model

Import packages

In [1]:
import tensorflow as tf
from tensorflow import keras
import numpy as np
import pandas as pds

Import data

In [2]:
df = pds.read_pickle('ANN_dataset.pkl')
df.head()

,timestamp,lon,lat,direction,speed,journey,seg,time_left,segment_time,tsjs
0,2018-02-16 04:48:40+01:00,58.414238,15.571015,147.300003,0.0,1,1,71.0,71.0,0.0
1,2018-02-16 04:48:41+01:00,58.414246,15.571012,147.300003,0.0,1,1,70.0,71.0,0.0
2,2018-02-16 04:48:42+01:00,58.414249,15.571008,147.300003,0.0,1,1,69.0,71.0,0.0
3,2018-02-16 04:48:43+01:00,58.414257,15.571004,147.300003,0.0,1,1,68.0,71.0,0.0
4,2018-02-16 04:48:44+01:00,58.414257,15.571006,147.300003,0.0,1,1,67.0,71.0,0.0

Note that `time_left` is the label in this model

In [3]:
label_string = 'time_left'

One hot encode segments, normalize columns and create final dataset

In [4]:
# Make segments categorical
dataset = pds.get_dummies(df['seg'])

# Combine segments, timestamps and time from journey start

# Cyclical timestamps 
dataset['hr_sin'] = np.sin(df.timestamp.dt.hour*(2.*np.pi/24))
dataset['hr_cos'] = np.cos(df.timestamp.dt.hour*(2.*np.pi/24))

# Convert to radians befor trigonometric functions
dataset['dir_sin'] = np.sin(df.direction*(np.pi/180))
dataset['dir_cos'] = np.cos(df.direction*(np.pi/180))

dataset['speed'] = (df['speed']-df['speed'].min())/(df['speed'].max()-df['speed'].min())
dataset['tsjs'] = (df['tsjs']-df['tsjs'].min())/(df['tsjs'].max()-df['tsjs'].min())

dataset['lat'] = (df['lat']-df['lat'].min())/(df['lat'].max()-df['lat'].min())
dataset['lon'] = (df['lon']-df['lon'].min())/(df['lon'].max()-df['lon'].min())

# Include journey number to select entire journeys
dataset['journey'] = df['journey']

dataset.head()

,1,2,3,4,5,6,7,8,9,10,11,hr_sin,hr_cos,dir_sin,dir_cos,speed,tsjs,lat,lon,journey
0,1,0,0,0,0,0,0,0,0,0,0,0.866025,0.5,0.54024,-0.841511,0.0,0.0,0.326317,0.924521,1
1,1,0,0,0,0,0,0,0,0,0,0,0.866025,0.5,0.54024,-0.841511,0.0,0.0,0.326237,0.925287,1
2,1,0,0,0,0,0,0,0,0,0,0,0.866025,0.5,0.54024,-0.841511,0.0,0.0,0.326156,0.925670,1
3,1,0,0,0,0,0,0,0,0,0,0,0.866025,0.5,0.54024,-0.841511,0.0,0.0,0.326076,0.926437,1
4,1,0,0,0,0,0,0,0,0,0,0,0.866025,0.5,0.54024,-0.841511,0.0,0.0,0.326116,0.926437,1

Add columns for the three latest positions for each sample. Replace the first sample from each journey with itself.

In [5]:
history_speed = pds.DataFrame(0, index=np.arange(len(dataset)), columns=['speed_one', 'speed_two', 'speed_three'])
history_pos = pds.DataFrame(0, index=np.arange(len(dataset)), columns=['lat_one', 'lon_one', 'lat_two', 'lon_two', 'lat_three', 'lon_three'])

In [6]:
for i, a in dataset.groupby('journey'):
    idxs = a.index

    history_pos.lat_one.iloc[idxs] = a.lat.shift(1)
    history_pos.lat_one.iloc[idxs[0]] = history_pos.lat_one.iloc[1]

    history_pos.lon_one.iloc[idxs] = a.lon.shift(1)
    history_pos.lon_one.iloc[idxs[0]] = history_pos.lon_one.iloc[1]

    history_pos.lat_two.iloc[idxs] = a.lat.shift(2)
    history_pos.lat_two.iloc[idxs[0]] = history_pos.lat_two.iloc[2]
    history_pos.lat_two.iloc[idxs[1]] = history_pos.lat_two.iloc[2]

    history_pos.lon_two.iloc[idxs] = a.lon.shift(2)
    history_pos.lon_two.iloc[idxs[0]] = history_pos.lon_two.iloc[2]
    history_pos.lon_two.iloc[idxs[1]] = history_pos.lon_two.iloc[2]

    history_pos.lat_three.iloc[idxs] = a.lat.shift(3)
    history_pos.lat_three.iloc[idxs[0]] = history_pos.lat_three.iloc[3]
    history_pos.lat_three.iloc[idxs[1]] = history_pos.lat_three.iloc[3]
    history_pos.lat_three.iloc[idxs[2]] = history_pos.lat_three.iloc[3]

    history_pos.lon_three.iloc[idxs] = a.lon.shift(3)
    history_pos.lon_three.iloc[idxs[0]] = history_pos.lon_three.iloc[3]
    history_pos.lon_three.iloc[idxs[1]] = history_pos.lon_three.iloc[3]
    history_pos.lon_three.iloc[idxs[2]] = history_pos.lon_three.iloc[3]

c:\users\jacke\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [7]:
for i, a in dataset.groupby('journey'):
    idxs = a.index

    history_speed.speed_one.iloc[idxs] = a.lat.shift(1)
    history_speed.speed_one.iloc[idxs[0]] = history_speed.speed_one.iloc[1]

    history_speed.speed_two.iloc[idxs] = a.lat.shift(2)
    history_speed.speed_two.iloc[idxs[0]] = history_speed.speed_two.iloc[2]
    history_speed.speed_two.iloc[idxs[1]] = history_speed.speed_two.iloc[2]

    history_speed.speed_three.iloc[idxs] = a.lat.shift(3)
    history_speed.speed_three.iloc[idxs[0]] = history_speed.speed_three.iloc[3]
    history_speed.speed_three.iloc[idxs[1]] = history_speed.speed_three.iloc[3]
    history_speed.speed_three.iloc[idxs[2]] = history_speed.speed_three.iloc[3]

Make sure there are no NaN:s produced by the shifting

In [8]:
history_pos.isna().sum()

lat_one      0
lon_one      0
lat_two      0
lon_two      0
lat_three    0
lon_three    0
dtype: int64

In [9]:
history_speed.isna().sum()

speed_one      0
speed_two      0
speed_three    0
dtype: int64

The two cells above should contain only zeros, otherwise, model training will fail!

In [10]:
history_pos.head()

    lat_one   lon_one   lat_two   lon_two  lat_three  lon_three
0  0.326317  0.924521  0.326317  0.924521   0.326317   0.924521
1  0.326317  0.924521  0.326317  0.924521   0.326317   0.924521
2  0.326237  0.925287  0.326317  0.924521   0.326317   0.924521
3  0.326156  0.925670  0.326237  0.925287   0.326317   0.924521
4  0.326076  0.926437  0.326156  0.925670   0.326237   0.925287

In [11]:
history_speed.head()

   speed_one  speed_two  speed_three
0   0.326317   0.326317     0.326317
1   0.326317   0.326317     0.326317
2   0.326237   0.326317     0.326317
3   0.326156   0.326237     0.326317
4   0.326076   0.326156     0.326237

Looking good! Add to dataset

In [14]:
new_data = pds.concat([history_pos, history_speed], axis=1)
dataset = pds.concat([dataset, new_data], axis=1)
dataset.head()

,1,2,3,4,5,6,7,8,9,10,...,speed_three,lat_one,lon_one,lat_two,lon_two,lat_three,lon_three,speed_one,speed_two,speed_three
0,1,0,0,0,0,0,0,0,0,0,...,0.326317,0.326317,0.924521,0.326317,0.924521,0.326317,0.924521,0.326317,0.326317,0.326317
1,1,0,0,0,0,0,0,0,0,0,...,0.326317,0.326317,0.924521,0.326317,0.924521,0.326317,0.924521,0.326317,0.326317,0.326317
2,1,0,0,0,0,0,0,0,0,0,...,0.326317,0.326237,0.925287,0.326317,0.924521,0.326317,0.924521,0.326237,0.326317,0.326317
3,1,0,0,0,0,0,0,0,0,0,...,0.326317,0.326156,0.925670,0.326237,0.925287,0.326317,0.924521,0.326156,0.326237,0.326317
4,1,0,0,0,0,0,0,0,0,0,...,0.326237,0.326076,0.926437,0.326156,0.925670,0.326237,0.925287,0.326076,0.326156,0.326237

The column names can also be listed as:

In [15]:
list(dataset)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 'hr_sin',
 'hr_cos',
 'dir_sin',
 'dir_cos',
 'speed',
 'tsjs',
 'lat',
 'lon',
 'journey',
 'lat_one',
 'lon_one',
 'lat_two',
 'lon_two',
 'lat_three',
 'lon_three',
 'speed_one',
 'speed_two',
 'speed_three',
 'lat_one',
 'lon_one',
 'lat_two',
 'lon_two',
 'lat_three',
 'lon_three',
 'speed_one',
 'speed_two',
 'speed_three']

Select an arbitrary number of test journeys

In [42]:
divider = 0.2
num_journeys = dataset.journey.unique()[-1]
num_test_segments = np.int_(np.round(num_journeys*divider))
msk = np.random.randint(1, num_journeys, num_test_segments)
mask = dataset['journey'].isin(msk)

Divide training and test data, where data is a sequence from a journey

In [43]:
train_input = dataset[~mask]
test_input = dataset[mask]

train_labels = df[label_string][~mask]
test_labels = df[label_string][mask]

test_idxs = test_input.index

In [44]:
# Journey numbers were needed up until this point
train_data = train_input.drop(columns=['journey'])
test_data = test_input.drop(columns=['journey'])

Build model

In [45]:
model = keras.Sequential([
	keras.layers.Dense(2*len(train_data.columns), activation=tf.nn.relu, input_shape=(train_data.shape[1],)),
    keras.layers.Dense(1*len(train_data.columns), activation=tf.nn.tanh),
    keras.layers.Dense(1*len(train_data.columns)),
	keras.layers.Dense(1, activation=tf.nn.relu)
	])

optimizer = keras.optimizers.Adadelta()
model.compile(loss='mae', optimizer = optimizer, metrics=['mae'])
print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 74)                2812
_________________________________________________________________
dense_12 (Dense)             (None, 37)                2775
_________________________________________________________________
dense_13 (Dense)             (None, 37)                1406
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 38
=================================================================
Total params: 7,031
Trainable params: 7,031
Non-trainable params: 0
_________________________________________________________________
None

Fit model, 10% of the training data is used as validation set

In [56]:
EPOCHS=50
result = model.fit(train_data.values, 
                   train_labels.values, 
                   epochs = EPOCHS, 
                   validation_split=0.1, 
                   initial_epoch=20,
                   batch_size=64
                  )

Train on 2433693 samples, validate on 270411 samples
Epoch 21/50
2433693/2433693 [==============================] - 55s 22us/step - loss: 10.9243 - mean_absolute_error: 10.9243 - val_loss: 11.2340 - val_mean_absolute_error: 11.2340
Epoch 22/50
2433693/2433693 [==============================] - 55s 23us/step - loss: 10.9191 - mean_absolute_error: 10.9191 - val_loss: 11.3741 - val_mean_absolute_error: 11.3741
Epoch 23/50
2433693/2433693 [==============================] - 54s 22us/step - loss: 10.9165 - mean_absolute_error: 10.9165 - val_loss: 11.2302 - val_mean_absolute_error: 11.2302
Epoch 24/50
2433693/2433693 [==============================] - 55s 22us/step - loss: 10.9127 - mean_absolute_error: 10.9127 - val_loss: 11.3103 - val_mean_absolute_error: 11.3103
Epoch 25/50
2433693/2433693 [==============================] - 54s 22us/step - loss: 10.9088 - mean_absolute_error: 10.9088 - val_loss: 11.2486 - val_mean_absolute_error: 11.2486
Epoch 26/50
2433693/2433693 [==============================] - 54s 22us/step - loss: 10.9064 - mean_absolute_error: 10.9064 - val_loss: 11.2093 - val_mean_absolute_error: 11.2093
Epoch 27/50
2433693/2433693 [==============================] - 55s 23us/step - loss: 10.9034 - mean_absolute_error: 10.9034 - val_loss: 11.2294 - val_mean_absolute_error: 11.2294
Epoch 28/50
2433693/2433693 [==============================] - 51s 21us/step - loss: 10.8993 - mean_absolute_error: 10.8993 - val_loss: 11.2456 - val_mean_absolute_error: 11.2456
Epoch 29/50
2433693/2433693 [==============================] - 50s 21us/step - loss: 10.8984 - mean_absolute_error: 10.8984 - val_loss: 11.3059 - val_mean_absolute_error: 11.3059
Epoch 30/50
2433693/2433693 [==============================] - 51s 21us/step - loss: 10.8962 - mean_absolute_error: 10.8962 - val_loss: 11.3353 - val_mean_absolute_error: 11.3353
Epoch 31/50
2433693/2433693 [==============================] - 51s 21us/step - loss: 10.8944 - mean_absolute_error: 10.8944 - val_loss: 11.2152 - val_mean_absolute_error: 11.2152
Epoch 32/50
2433693/2433693 [==============================] - 51s 21us/step - loss: 10.8914 - mean_absolute_error: 10.8914 - val_loss: 11.2074 - val_mean_absolute_error: 11.2074
Epoch 33/50
2433693/2433693 [==============================] - 53s 22us/step - loss: 10.8893 - mean_absolute_error: 10.8893 - val_loss: 11.3241 - val_mean_absolute_error: 11.3241
Epoch 34/50
2433693/2433693 [==============================] - 45s 19us/step - loss: 10.8883 - mean_absolute_error: 10.8883 - val_loss: 11.2374 - val_mean_absolute_error: 11.2374
Epoch 35/50
2433693/2433693 [==============================] - 46s 19us/step - loss: 10.8862 - mean_absolute_error: 10.8862 - val_loss: 11.2813 - val_mean_absolute_error: 11.2813
Epoch 36/50
2433693/2433693 [==============================] - 45s 19us/step - loss: 10.8833 - mean_absolute_error: 10.8833 - val_loss: 11.2174 - val_mean_absolute_error: 11.2174
Epoch 37/50
2433693/2433693 [==============================] - 46s 19us/step - loss: 10.8815 - mean_absolute_error: 10.8815 - val_loss: 11.2415 - val_mean_absolute_error: 11.2415
Epoch 38/50
2433693/2433693 [==============================] - 45s 19us/step - loss: 10.8784 - mean_absolute_error: 10.8784 - val_loss: 11.2104 - val_mean_absolute_error: 11.2104
Epoch 39/50
2433693/2433693 [==============================] - 48s 20us/step - loss: 10.8788 - mean_absolute_error: 10.8788 - val_loss: 11.2106 - val_mean_absolute_error: 11.2106
Epoch 40/50
2433693/2433693 [==============================] - 48s 20us/step - loss: 10.8768 - mean_absolute_error: 10.8768 - val_loss: 11.2919 - val_mean_absolute_error: 11.2919
Epoch 41/50
2433693/2433693 [==============================] - 47s 19us/step - loss: 10.8751 - mean_absolute_error: 10.8751 - val_loss: 11.2825 - val_mean_absolute_error: 11.2825
Epoch 42/50
2433693/2433693 [==============================] - 47s 19us/step - loss: 10.8744 - mean_absolute_error: 10.8744 - val_loss: 11.2883 - val_mean_absolute_error: 11.2883
Epoch 43/50
2433693/2433693 [==============================] - 47s 19us/step - loss: 10.8711 - mean_absolute_error: 10.8711 - val_loss: 11.2176 - val_mean_absolute_error: 11.2176
Epoch 44/50
2433693/2433693 [==============================] - 47s 19us/step - loss: 10.8704 - mean_absolute_error: 10.8704 - val_loss: 11.1539 - val_mean_absolute_error: 11.1539
Epoch 45/50
2433693/2433693 [==============================] - 40s 16us/step - loss: 10.8698 - mean_absolute_error: 10.8698 - val_loss: 11.2817 - val_mean_absolute_error: 11.2817
Epoch 46/50
2433693/2433693 [==============================] - 40s 16us/step - loss: 10.8683 - mean_absolute_error: 10.8683 - val_loss: 11.1811 - val_mean_absolute_error: 11.1811
Epoch 47/50
2433693/2433693 [==============================] - 40s 16us/step - loss: 10.8667 - mean_absolute_error: 10.8667 - val_loss: 11.1947 - val_mean_absolute_error: 11.1947
Epoch 48/50
2433693/2433693 [==============================] - 39s 16us/step - loss: 10.8671 - mean_absolute_error: 10.8671 - val_loss: 11.1875 - val_mean_absolute_error: 11.1875
Epoch 49/50
2433693/2433693 [==============================] - 39s 16us/step - loss: 10.8656 - mean_absolute_error: 10.8656 - val_loss: 11.2333 - val_mean_absolute_error: 11.2333
Epoch 50/50
2433693/2433693 [==============================] - 39s 16us/step - loss: 10.8626 - mean_absolute_error: 10.8626 - val_loss: 11.2067 - val_mean_absolute_error: 11.2067

Evaluate model on test data

In [57]:
model.evaluate(test_data.values, test_labels.values)

607896/607896 [==============================] - 6s 10us/step

[10.664837318646985, 10.664837318646985]

Prepare data for evaluation step

In [58]:
predictions = model.predict(test_data.values)

### Create dataset for evaluation

In [59]:
segment = df['seg'].loc[test_idxs].reset_index().drop(columns=['index'])

In [60]:
output = pds.DataFrame()
output['seg'] = segment['seg']
output['journey'] = test_input['journey'].values
output['speed'] = test_data.speed.values
output['pred'] = predictions
output['label'] = test_labels.values
output.head()

   seg  journey  speed        pred  label
0    1        1    0.0  113.023987   71.0
1    1        1    0.0  113.024933   70.0
2    1        1    0.0  113.028336   69.0
3    1        1    0.0  113.035133   68.0
4    1        1    0.0  113.048347   67.0

In [61]:
# Same name for all files
model_name = 'ANN_M3'

# serialize model to YAML
model_yaml = model.to_yaml()
with open(model_name + '.yaml', 'w') as yaml_file:
    yaml_file.write(model_yaml)

# Serialize weights to HDF5
model.save_weights(model_name + '.h5')

In [62]:
output.to_pickle(model_name + '.pkl')

Done! Get ready for evaluation