# Model comparison
This notebook evaluates a model according to an agreed upon metric in order to compare results with the GP models.

In [1]:
import numpy as np
import pandas as pds
import matplotlib.pyplot as plt

In [2]:
"""
Some loss functions
"""

def mae(preds, labels):
    mae = np.sum(np.absolute(preds - labels))
    print(mae)
    mae /= len(preds)
    print(mae)
    return mae

def basic_mae(preds, labels):
    acc = 0 
    n = len(preds)
    for i in range(n):
        e = abs(preds[i] - labels[i])
        acc += e
 
    acc /= n
    return [acc]

def mape(preds, labels):
    acc = 0
    n = len(preds)
    for i in range(n):
        acc+=abs((labels[i] - preds[i])/labels[i])
    
    res = acc/n
    return [res]

Pick the name for your model

In [3]:
model_name = 'ANN_M3'

In [4]:
data = pds.read_pickle(model_name + '.pkl')
data.head()

   seg  journey  speed        pred  label
0    1       14    0.0  127.827164  209.0
1    1       14    0.0  127.827164  208.0
2    1       14    0.0  127.827164  207.0
3    1       14    0.0  127.827164  206.0
4    1       14    0.0  127.827164  205.0

In [5]:
jour_frames = []

for ij, jour in data.groupby('journey'):
    seg_frames = []
    
    for iss, seg in jour.groupby('seg'):
        tot = len(seg) - 1
        errs = {}
        i_20 = np.int_(np.round(tot * 0.2))
        i_40 = np.int_(np.round(tot * 0.4))
        i_60 = np.int_(np.round(tot * 0.6))
        i_80 = np.int_(np.round(tot * 0.8))
        
        p_20 = seg.iloc[0:i_20]
        p_40 = seg.iloc[0:i_40]
        p_60 = seg.iloc[0:i_60]
        p_80 = seg.iloc[0:i_80]
        errs['journey'] = [ij]
        errs['segment'] = [iss]
        
        errs['e_20'] = basic_mae(p_20.pred.values, p_20.label.values)
        errs['ep_20'] = mape(p_20.pred.values, p_20.label.values)
        
        errs['e_40'] = basic_mae(p_40.pred.values, p_40.label.values)
        errs['ep_40'] = mape(p_40.pred.values, p_40.label.values)
        
        errs['e_60'] = basic_mae(p_60.pred.values, p_60.label.values)
        errs['ep_60'] = mape(p_60.pred.values, p_60.label.values)
        
        errs['e_80'] = basic_mae(p_80.pred.values, p_80.label.values)
        errs['ep_80'] = mape(p_80.pred.values, p_80.label.values)
        
        seg_frames.append(pds.DataFrame(errs))
    
    jour_frames.append(pds.concat(seg_frames))

In [6]:
ers = pds.concat(jour_frames).reset_index(drop=True)

In [7]:
ers.head(30)

,journey,segment,e_20,ep_20,e_40,ep_40,e_60,ep_60,e_80,ep_80
0,14,1,60.672911,0.319047,39.736075,0.220730,34.189972,0.224828,36.286486,0.328745
1,14,2,3.270547,0.061715,6.540682,0.153696,5.024845,0.124462,3.999491,0.104693
2,14,3,5.129980,0.099573,5.502921,0.117946,4.006997,0.090285,3.153392,0.075071
3,14,4,4.757675,0.125943,5.053812,0.151177,3.408849,0.105175,2.825399,0.101461
4,14,5,10.352041,0.141202,8.190961,0.125230,8.478311,0.159118,8.036103,0.191212
5,14,6,2.339331,0.061680,1.650536,0.048503,1.388791,0.046232,1.131266,0.042671
6,14,7,3.669889,0.042382,10.407999,0.149282,7.769501,0.115767,5.931781,0.091494
7,14,8,4.776344,0.119267,6.652654,0.196810,5.652252,0.182691,4.651919,0.166015
8,14,9,10.906591,0.082736,7.451508,0.059279,6.105131,0.055184,4.991795,0.050290
9,14,10,14.381081,0.256919,15.526553,0.316761,12.828451,0.283431,9.975300,0.235727
10,14,11,11.503466,0.188883,16.968052,0.331543,14.177122,0.299748,11.100924,0.242166
11,19,1,66.706124,0.339399,45.206265,0.244834,36.642164,0.229619,40.141800,0.366967
12,19,2,10.692856,0.278674,9.481401,0.269355,7.424604,0.232802,6.613432,0.249632
13,19,3,1.809479,0.055864,1.359967,0.045241,1.260936,0.050632,1.090632,0.049833
14,19,4,1.442901,0.034233,3.504070,0.105090,2.793143,0.090170,2.269148,0.078910
15,19,5,5.621332,0.157438,7.274313,0.235731,6.205210,0.221578,5.014932,0.192184
16,19,6,4.575964,0.091066,5.673544,0.125088,4.903087,0.121619,4.109460,0.113319
17,19,7,26.232580,0.228854,16.513145,0.151517,13.769326,0.143358,11.427619,0.137187
18,19,8,0.796964,0.036159,0.951360,0.051109,1.021351,0.063547,0.994155,0.079472
19,19,9,9.352764,0.067113,13.762255,0.115168,12.176206,0.115139,10.573108,0.115115
20,19,10,14.837401,0.261915,18.259449,0.374241,13.877174,0.301060,11.120187,0.259492
21,19,11,32.144484,0.337764,25.820120,0.296974,25.851825,0.366420,24.042442,0.411323
22,24,1,39.145413,0.231251,24.258369,0.151444,27.790636,0.232079,28.043719,0.286712
23,24,2,10.529086,0.172541,6.892356,0.122359,5.433312,0.104398,4.300061,0.089605
24,24,3,5.343474,0.083714,4.466253,0.079078,4.118795,0.084852,3.603753,0.087267
25,24,4,19.113145,0.314550,13.814981,0.245483,10.380294,0.198754,8.886335,0.206806
26,24,5,3.540950,0.053108,2.547409,0.041206,2.361597,0.046339,2.128208,0.050488
27,24,6,2.557286,0.046308,2.332770,0.045677,1.883106,0.041145,1.791787,0.050585
28,24,7,10.223800,0.128023,15.187599,0.225398,12.078773,0.192611,10.347639,0.194261
29,24,8,4.018983,0.150380,2.940823,0.119669,2.415456,0.107087,1.979520,0.100630

In [8]:
ers.mean(axis=0)

journey    1863.087500
segment       6.000000
e_20         12.543861
ep_20         0.137459
e_40         10.503873
ep_40         0.137599
e_60          9.271104
ep_60         0.135903
e_80          8.151079
ep_80         0.136152
dtype: float64

In [9]:
ers[ers.segment != 1].mean(axis=0)

journey    1863.087500
segment       6.500000
e_20          8.651322
ep_20         0.122886
e_40          7.907544
ep_40         0.129292
e_60          6.741132
ep_60         0.123276
e_80          5.624530
ep_80         0.118454
dtype: float64

In [10]:
ers.to_pickle(model_name + '_203_errors.pkl')